<html lang ="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <header>
      <h1>Welcome to Delicious Delights</h1>
    </header>
    
    <div class="container">
      <div class="intro">
        <h2>Discover the flavors that make us unique</h2>
        <p>At Delicious Delights, we serve exquisite dishes crafted with passion and care. Whether you're in the mood for a delightful brunch, a cozy dinner, or a special celebration, our talented chefs will take you on a culinary journey you won't forget.</p>
        <p>Step into our restaurant and be enveloped in a welcoming atmosphere, featuring a tasteful blend of modern design and cozy elements, perfect for intimate gatherings or special occasions.</p>
        <p>Explore our menu by logging in and get ready to indulge in a remarkable dining experience.</p>
      </div>
      
      <div class="cta">
        <h4>Check out our world class menu by logging in </h4>
        <a href="/login" class="button">Login</a>
        <p>New to our website...?</p>
        <a href="/signup" class="button">Sign Up</a>
      </div>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>